/*************************** Variables ***********************************/

$blue-shade: rgb(66, 136, 221);

/**************************************************************/

.firms,
.users {
  .accordions .accordion {
    .accordion-header+.accordion-body {
      overflow-y: unset;
    }

    .rw-dropdown-list {
      min-width: 200px;

      .rw-widget-picker {
        height: 1.429em;
      }
    }
  }

  .rw-multiselect-tag {
    padding: 0;
    font-size: 11px;
    height: 20px !important;
  }

  .rw-multiselect .rw-input-reset {
    height: unset;
  }
}

.deletealiases,
.deleteadressaliases {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.deletealiases .input {
  padding-right: 25px;
  max-width: 270px;
  min-width: 150px;
}

.deleteadressaliases .input {
  padding-right: 25px;
}

.deletealiases .fa-delete,
.deleteadressaliases,
.deleteadressaliases .fa-delete {
  /*position: absolute;
  right: 0px;
  top: 0px;
  border-left: 2px solid #dbdbdb;*/
  height: 27px;
  padding: 0px 5px 5px 5px;
  cursor: "pointer"
}

.custom-ui {
  text-align: center;
  width: 100%;
  padding: 40px;
  background: #fafafa;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
  color: #fff;
}

.custom-ui>button {
  width: 160px;
  padding: 10px;
  border: 1px solid #fff;
  margin: 10px;
  cursor: pointer;
  background: #808080;
  color: #fff;
  font-size: 14px;
}

.custom-ui p {
  color: black
}

.pagination {
  margin: 10px !important
}

.pagination ul {
  list-style: none !important
}

.pagination-list {
  list-style: none !important
}

.pagination li+li {
  margin-top: 0 !important
}

.ReactTable .rt-thead.-header {
  box-shadow: none !important;
  background-color: $blue-shade !important;
  color: rgb(255, 255, 255) !important;
  // text-transform: uppercase !important;
  font-weight: bold !important;

}

.ReactTable .rt-td {
  border-bottom: 1px solid #847b7b !important;
  border-right: 1px solid #dbdbdb !important;
}

.ReactTable .rt-tr-group:not(:last-child) .rt-td {
  // border-bottom: 1px solid #847b7b !important;
}

.ReactTable .rt-tbody .rt-tr-group:last-child .rt-td {
  //background-color: red !important;
  border-bottom: 0 !important;
}

.ReactTable .rt-tbody {
  border-left: 1px solid #847b7b !important;
  border-bottom: 1px solid #847b7b !important;
  border-right: 1px solid #847b7b !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  // background: #D5EBFF !important;
}

.ReactTable {
  border: 0 !important;
  //border: 1px solid #dbdbdb !important;
  //background-color: lightgray !important;
  // border: 1px solid #847b7b !important;
  //padding: 15px !important;
  //border-bottom: 1px solid #312f2f !important;
  // border-right: 1px solid #847b7b !important;
  // border-bottom: 1px solid #847b7b !important;
}

.ReactTable .rt-th:not(:last-child) {
  border-right: 1px solid #dbdbdb !important;
}

.ReactTable .rt-th {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

.rw-select>* {
  width: 1.4em !important;
  height: 100% !important;
}

/*
.rw-widget-input {
  height: 2.5em !important;
} */

.rw-widget-input .rw-widget-picker .rw-widget-container div>input {
  width: 100% !important;
  height: 100% !important;
}

.rw-dropdown-list-input,
.rw-list {
  font-size: .75rem
}


rw-multiselect rw-widget {
  z-index: 10000;
}

.DocumentTable .rt-td {
  white-space: normal !important;
}
