.transactionRFP {
  table {
    border-collapse: seperate;
    width: 100%;
    overflow-x: scroll;

    thead {
      tr {
        th {
          background: #ffffff;
          text-align: left;
          padding: 4px;
        }
      }
    }

    tbody {
      tr {
        td {
          background: #ffffff;
          text-align: left;
          padding: 4px;
        }
      }
    }
  }

  .level {
    .level-left {
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0;
      align-items: center;
      justify-content: flex-start;

      .level-item.is-flexible {
        flex-grow: 1;
      }
    }

    @media screen and (min-width: 769px) {
      .level-left {
        display: flex;

        .level-item:not(:last-child) {
          margin-right: 0.75rem;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .level-left + .level-right {
        margin-top: 1.5rem;
      }
    }
  }

  .decide-table {
    table {
      thead {
        tr {
          td,
          th {
            background: #ffffff;
            text-align: left;
            padding: 4px;
            font-weight: bold;
          }
        }
      }

      tbody {
        tr:last-child {
          font-weight: bold;
          border-width: 0 0 2px;
          color: #363636;
        }
      }
    }
  }

  .addItem {
    input {
      width: 250px;
      height: 30px;
    }
  }

  .Select-control {
    width: 200px;
  }
}

.radiogroup {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.accordions {
  .accordion {
    margin-top: 20px;

    .accordion-header {
      cursor: pointer;
      padding: 0 !important;

      p {
        width: 100%;
        user-select: none;
        padding: 10px;
      }

      span {
        padding: 10px;
      }

      .field {
        padding-right: 10px;
      }
    }
  }
}
