.taskcontainer {
    padding: 5px;
    background-color: #e0f7fa;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25 px;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: center;
  
    .boardcontainer {
      padding: 10px;
      display: grid;
      width: 100%;
      grid-template-rows: 40px 40px;
      grid-auto-columns: 90%;
      grid-auto-rows: 80px;
      align-content: center;
      justify-content: center;
      grid-gap: 5px;
      overflow-y: scroll;
  
      .boardheader {
        padding: 3px;
        text-align: center;
        background-color: #ef9a9a;
        width: 100%;
        width: 100%;
      }
      .boarditemadd {
        padding: 3px;
        font-size: 2em;
        text-align: center;
        background-color: #c5e1a5;
        width: 100%;
        &:hover {
          cursor: pointer;
          box-shadow: 2px 2px #cfd8dc;
        }
      }
      .boarditem {
        padding: 3px;
        background-color: #fff9c4;
        &:hover {
          cursor: pointer;
          box-shadow: 2px 2px #cfd8dc;
        }
        width: 100%;
      }
    }
  }