.firms,
.users {

  .accordions,
  .accordions .accordion,
  .accordions .accordion-body {
    .accordion-header+.accordion-body {
      overflow-y: unset;
    }

    .rw-dropdown-list {
      min-width: 200px;

      .rw-widget-picker {
        height: 1.429em;
      }
    }
  }

  .rw-multiselect-tag {
    padding: 0;
    font-size: 11px;
    height: 20px;
  }

  .rw-multiselect .rw-input-reset {
    height: unset;
  }
}

.deletealiases,
.deleteadressaliases {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.deletealiases .input {
  padding-right: 25px;
  max-width: 270px;
  min-width: 150px;
}

.deleteadressaliases .input {
  padding-right: 25px;
}

.deletealiases .fa-delete,
.deleteadressaliases .fa-delete {
 /* position: absolute;
  right: 0px;
  top: 0px;
  border-left: 2px solid #dbdbdb;*/
  height: 35px;
  padding: 7px 7px 7px 5px;
}

.firms .rw-multiselect-tag,
.users .rw-multiselect-tag {
  padding: 5 !important;
  font-size: 12px !important;
  height: 35px !important;
}

.linkborrower .table td {
  padding: 0.2em;
}
